.container{
    flex-direction: column;
}

header{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    text-align: center;
    color: #fff;
    font-family: var(--heading-font);
}

header button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

header button:nth-child(1){
    background: #FF6868;
    color: #fff;
    box-shadow: 0px 7px 0px 0px rgba(239,68,68,1);
}

header button:nth-child(3){
    background: #FFCE69;
    color: #33383D;
    box-shadow: 0px 7px 0px 0px #cca554;
}

header button:active{
    scale: 0.95;
}

/* game container */
section{
    margin-top: 2rem;
    width: 40%;
    /* background: lightgreen; */
}

.players{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
}

.player{
    background: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

.players span{
    position: absolute;
    visibility: hidden;
}

.red-fill{
    top: -1.4rem;
    left: -1rem;
}

.yellow-fill{
    top: -1.4rem;
    right: -1rem;
}

/* game-board */
.game-board{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background: #0173D4;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 7px 0px 0px rgba(7,89,133,1);
}

.game-block{
    align-self: center;
    justify-self: center;
    margin: 0.5rem;
}

.game-piece{
    box-shadow: 0px -7px 0px 0px rgba(7,89,133,1);
    background: #33383D;
    border-radius: 50%;
    width:5.8rem;
    height:5.8rem;
}

@media only screen and (max-width:600px){   

    header{
        width: auto;
    }

    header h1{
        position: relative;
        bottom: 10rem;
    }

    section{
        width: auto;
    }
        
    .game-piece{
        width: 3rem;
        height: 3rem;
    }
}



